<div class="list-block media-list">
  <ul>
    {{#each model.list as |item|}}
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{item.product_name}}</div>
              <div class="item-after">{{item.state}}</div>
            </div>
            <div class="item-subtitle">
              ¥ {{item.exp_amount}} |
              <span class="color-orange"> ¥ {{item.amount}}</span>
            </div>
            <div class="item-text">
              {{item.create_user_name}} 创建于 {{moment-format item.create_time "YYYY-MM-DD HH:mm:ss"}}
            </div>
          </div>
        </div>
      </li>
    {{else if isloading}}
      {{block-holder}}
    {{else}}
      {{block-holder text="暂无订单"}}
    {{/each}}
    {{#infinite-scroller on-load-more=(action 'loadMore') hasMore=hasMore trigger-at="95%"}}
      {{z-load-indicator text="加载中..."}}
    {{/infinite-scroller}}
  </ul>
</div>
